# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.sqlite3

# Environment variables / secrets
.env
.env.*
!.env.example

# Django local files
*.log
media/
staticfiles/

# Node
node_modules/
dist/

# Vite
.vite/

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db